body {
    font-family: 'Otomanopee One', sans-serif;
    margin: 0;
    background-color: teal;}
h1 {
    font-size: 50px;
}
.orange-color {
    color: orange;
}
.first-pera {
    font-size: 13px;
}
#first-pera {
    font-size: 13px;
    padding-right:20% ;

}
.flexible-container {
    display: flex;
    margin-bottom: 120px;
}
.half-wid {
    width: 50%;
    padding-left: 5%;
}
.half-wid img {
    width: 80%;
    padding-left: 5%;
}
.half-wid p {
    text-align: justify;
}
.link-button {
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px ;
    color: white;
    border-radius: 7px;
    background-image: linear-gradient(to right, darkred , tomato);
}
.top-banner {
    background-image: url(images/top.png);
    background-repeat: no-repeat;
}
.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.half-wids {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    
}
.half-wids img {
    width: 80%;
    padding-right: 10%;
}
.half-wids p {
    text-align: justify;
}
.sec-pera {
    font-size: 13px;
    
}
#jojo {
    text-align: center;
    color: white;
}
